VITE_SUPABASE_URL=https://hpchvorvyubkpcrierme.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here
VITE_DRIVE_FOLDER_ID=1X5fP0GjT60O5mBkXM2376cYhHOmbFyHp
VITE_GOOGLE_API_KEY=your_google_api_key_here
